<div class="container">
    <h1><span>Lorem Ipsum is simply dummy</span> text Ipsum</h1>
    <div class="list-row">
        <ul>
            <li class="prod-li-0 active"><a href="#">&nbsp;</a></li>
            <li class="prod-li-1"><a href="#">&nbsp;</a></li>
            <li class="prod-li-2"><a href="#">&nbsp;</a></li>
            <li class="prod-li-3"><a href="#">&nbsp;</a></li>
            <li class="prod-li-4"><a href="#">&nbsp;</a></li>
            <li class="prod-li-5"><a href="#">&nbsp;</a></li>
        </ul>
    </div>
    <h2>Restaurents</h2>
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="post-info d-md-flex flex-lg-row">
                <div class="pic">
                    <a href="#">
                        <img src="@/assets/images/image.jpg" alt="">
                    </a>
                </div>
                <div class="info">
                    <h3>Mashya</h3>
                    <p>Lorem Ipsum is simply dummy text
                        <span class="location">1 Ha-Yozma Street, Rishon LeTsiyon</span>
                        <span>Lorem Ipsum is simply dummy text</span>
                    </p>
                    <p>Lorem Ipsum</p>
                </div>
                <div class="title-row ml-auto">
                    <div class="textleft"><p>Lorem</p></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="post-info d-md-flex flex-lg-row">
                <div class="pic">
                    <a href="#"><img src="@/assets/images/image-2.jpg" alt=""></a>
                    <div class="discount">
                        15%-
                    </div>
                </div>
                <div class="info">
                    <h3>Mashya</h3>
                    <p>Lorem Ipsum is simply dummy text
                        <span class="location">1 Ha-Yozma Street, Rishon LeTsiyon</span>
                        <span>Lorem Ipsum is simply dummy text</span>
                    </p>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="col-lg-6 col-12">
            <div class="post-info d-md-flex flex-lg-row">
                <div class="pic">
                    <a href="#"><img src="@/assets/images/image-3.jpg" alt=""></a>
                    <div class="discount">
                        15%-
                    </div>
                </div>
                <div class="info">
                    <h3>Mashya</h3>
                    <p>Lorem Ipsum is simply dummy text
                        <span class="location">1 Ha-Yozma Street, Rishon LeTsiyon</span>
                        <span>Lorem Ipsum is simply dummy text</span>
                    </p>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="post-info d-md-flex flex-lg-row">
                <div class="pic">
                    <a href="#"><img src="@/assets/images/pic-3.jpg" alt=""></a>
                </div>
                <div class="info">
                    <h3>Mashya</h3>
                    <p>Lorem Ipsum is simply dummy text
                        <span class="location">1 Ha-Yozma Street, Rishon LeTsiyon</span>
                        <span>Lorem Ipsum is simply dummy text</span>
                    </p>
                    <p>Lorem Ipsum</p>
                </div>
                <div class="title-row ml-auto">
                    <div class="textleft"><p>Lorem Ipsum</p></div>
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="col-lg-6 col-12">
            <div class="post-info d-md-flex flex-lg-row">
                <div class="pic">
                    <a href="#"><img src="@/assets/images/image-4.jpg" alt=""></a>
                </div>
                <div class="info">
                    <h3>Mashya</h3>
                    <p>Lorem Ipsum is simply dummy text
                        <span class="location">1 Ha-Yozma Street, Rishon LeTsiyon</span>
                        <span>Lorem Ipsum is simply dummy text</span>
                    </p>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="post-info d-md-flex flex-lg-row">
                <div class="pic">
                    <a href="#"><img src="@/assets/images/image-5.jpg" alt=""></a>
                </div>
                <div class="info">
                    <h3>Mashya</h3>
                    <p>Lorem Ipsum is simply dummy text
                        <span class="location">1 Ha-Yozma Street, Rishon LeTsiyon</span>
                        <span>Lorem Ipsum is simply dummy text</span>
                    </p>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
</div>
